! ===== xterm =====

! Look and feel
xterm*termName: xterm-256color
xterm*geometry: 80x25
xterm*saveLines: 2048
xterm*highlightSelection: true
xterm*scrollBar: true
xterm*rightScrollBar: true
xterm*multiScroll: on
xterm*jumpScroll: on
xterm*scrollbar.translations: #override\
    <Btn2Down>: StartScroll(Forward) \n\
    <Btn1Down>: StartScroll(Continuous) MoveThumb() NotifyThumb() \n\
    <Btn3Down>: StartScroll(Backward) \n\
    <Btn1Motion>: MoveThumb() NotifyThumb() \n\
    <BtnUp>: NotifyScroll(Proportional) EndScroll()
!xterm*loginShell: true
xterm*cursorBlink: true
xterm*borderLess: true

! Fix alt key input
xterm*eightBitInput: false
xterm*altSendsEscape: true

! Use selecting to copy, ctrl-v to paste
xterm*VT100.translations: #override \
    Ctrl <KeyPress> V: insert-selection(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n\
    <BtnUp>: select-end(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n

! Font and locale
xterm*locale: true
xterm*utf8: true
xterm*utf8Title: true
xterm*fontMenu*fontdefault*Label: Default
xterm*xftAntialias: true
xterm*cjkWidth:false
xterm*faceName: xft:Hack:pixelsize=14
xterm*boldFont: xft:Hack Bold:pixelsize=14
xterm*faceNameDoublesize: xft:WenQuanYi Micro Hei Mono:medium:pixelsize=14

! Color scheme
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

